#Copy to /etc/apache2/sites-available/servername.conf

#Primary VirtualHost - Full Domain

<IfModule mod_ssl.c>

<VirtualHost _default_:8443>
ServerName DOMAIN
ServerAdmin webmaster@DOMAIN
DocumentRoot "/var/www/html"

#Rewrites
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

##LE Certs
SSLEngine on
SSLCertificateFile /etc/ssl/CA/CasjaysDev/certs/localhost.crt
SSLCertificateKeyFile /etc/ssl/CA/CasjaysDev/private/localhost.key
#SSLCertificateChainFile /etc/ssl/CA/CasjaysDev/certs/localhost.crt

#Headers
Header always set Strict-Transport-Security "max-age=31536000; preload"
RequestHeader set Connection ""
RequestHeader set Upgrade $http_upgrade;
RequestHeader set Connection "upgrade"
RequestHeader set X-Forwarded-Proto "https"

</VirtualHost>

</IfModule>

# vim: syntax=apache
